* {
  font-family: Helvetica;
}
#mailInput {
  width: 100%;
  height: 125px;
  padding-top: 5px;
}
#mailInput-field-wrapper {
  position: relative;
  text-align: right;
  float: left;
  height: 100%;
  width: 86.5%;
  border: 1px solid #999;
  background-color: #fff;
}
#mailInput-field {
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 0px none;
  font-family: helvetica;
  font-size: 14pt;
  background-color: transparent;
  resize: none;
  outline: none;
}
#mailInput-send {
  position: relative;
  float: right;
  font-weight: bold;
  font-size: 12pt;
  width: 13%;
  height: 100%;
  padding-left: 5px;
  background: #0b5fa5;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: center;
  display: inline-block;
}
