#splash-custom
	display: table
	visibility: hidden
	height: 100%
	width: 100%
	border-spacing: 5px

#splash-custom-input-wrapper
	display: table-cell
	width: 80%
	height: 100%
	border: 1px #999 solid

#splash-custom-input
	width: 100%
	height: 100%
	padding: 5px
	font-size: 15pt
	border: none

#splash-custom-start
	display: table-cell
	width: 20%
	height: 100%
	vertical-align: middle
	background: #0B5FA5
	color: white
	font-weight: bold
	font-size: 18pt
	cursor: pointer
	-webkit-user-select: none /* Chrome/Safari */        
	-moz-user-select: none /* Firefox */
	-ms-user-select: none /* IE10+ */
	-o-user-select: none
	user-select: none
