#splash-custom
	#splash-custom-input-wrapper
		input#splash-custom-input( type='text' placeholder='Enter a question here and then click \'start\' to discuss it!' )
	a#splash-custom-start.splash-custom-faded( href='/chat' ) start

script( src='/client/splash/actions/custom/custom.js' )
