#mod-ratings
	#mod-ratings-head If applicable, please rate your discussion so that we can find you better matches.
	table#mod-ratings-buttons
		td
			img#mod-ratings-delta( class='mod-ratings-button' src='/assets/ratings/delta_small.png' )
		td
			img#mod-ratings-same( class='mod-ratings-button' src='/assets/ratings/same_small.png' )
		td
			img#mod-ratings-flag( class='mod-ratings-button' src='/assets/ratings/flag_small.png' )

script( src='/client/chat/ratings/ratings.js' )
