#users
	#users-options
		#users-options-sort sort by: 
			select#users-options-sort-select
				option( value='most deltas' ) most deltas
				option( value='most badges' ) most badges
				option( value='new' ) newest
	#users-content
