script( src='/client/modules/ratings/ratings.js' )

#mod-ratings
	#mod-ratings-head if applicable, please rate your discussion so that we can find you better matches
	table#mod-ratings-buttons
		td
			img#mod-ratings-delta-img( class='mod-ratings-button' src='/assets/delta_small.png' )
		td
			img#mod-ratings-same-img( class='mod-ratings-button' src='/assets/same_small.png' )
		td
			img#mod-ratings-flag-img( class='mod-ratings-button' src='/assets/flag_small.png' )
