#mod-ratings
	margin: 0 auto
	visibility: hidden
#mod-ratings-buttons
	margin: 0 auto
#mod-ratings-head
	text-align: center
	margin: 10px
	font-weight: bold
.mod-ratings-button
	margin-left: 10px
	margin-right: 10px
	text-align: center
