#profile-dock
	position: relative
	height: 41px
	border-bottom: solid 1px #999
	background-color: white

#profile
	background: -webkit-linear-gradient( #E6EAEE, white ) /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #E6EAEE, white ) /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #E6EAEE, white ) /* For Firefox 3.6 to 15 */
	background: linear-gradient( #E6EAEE, white ) /* Standard syntax */
	padding: 5px

#profile-content
	height: 50%
	text-align: center
	width: auto
	background-color: white
	border: solid 1px #999

#dock { visibility: hidden }
