doctype html
html( lang='en' )
	head
		title='dfiltr.com - popping filter bubbles'
		link( rel='icon'       type='img/ico'  href='/assets/logo/favicon.png' )
		link( rel='stylesheet' type='text/css' href='/client/modules/reset/reset.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/newpage/newpage.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/colorbox/colorbox.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/login/login.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
		link( rel='stylesheet' type='text/css' href='/client/chat/ratings/ratings.css' )
		link( rel='stylesheet' type='text/css' href='/client/chat/chat.css' )
	body
		#chat-dock
		#chat
			#chat-output-wrapper
				#chat-output  
			#chat-input-wrapper
				#chat-input
					input#chat-input-connect( class='chat-input-button' type='button' value='disconnect' )  
					#chat-input-field-wrapper
						#chat-input-field-container
							textarea#chat-input-field
					input#chat-input-send( class='chat-input-button' type='button' value='send' )

		script( src='/config.js' )
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
		script( src='/client/modules/colorbox/jquery.colorbox-min.js' )
		script( src='/socket.io/socket.io.js' )
		script( src='/client/chat/chat.js' )
