doctype html
html( lang='en' )
	head
		title= 'Chat Test'
		link( rel='stylesheet' type='text/css' href='/client/modules/reset/reset.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/newpage/newpage.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/colorbox/colorbox.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/login/login.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/ratings/ratings.css' )
		link( rel='stylesheet' type='text/css' href='/client/chat/chat.css' )
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
		script( src='/client/modules/colorbox/jquery.colorbox-min.js' )
		script( src='/socket.io/socket.io.js' )
		script( src='/client/chat/chat.js' )
		| <script type="text/javascript">
		| //interstitial ad
		| infinityads_enable_inter = true;
		| infinityads_maxad = -1;
		| infinityads_hourcap = 0;
		| infinityads_showcap = 2;
		| infinityads_layer_banner = false;
		| infinityads_mobile_redirect = false;
		| infinityads_banner_adtype = 0;
		| infinityads_network_logo = false;
		| infinityads_post_click_url = '';
		| </script>
		| <script type="text/javascript" src="http://ads.lzjl.com/showAd.php?nid=5&amp;pid=50949&amp;adtype=&amp;sid=89312"></script>
		| <noscript><a href="http://lzjl.com">behavioral targeting</a></noscript>
	body
		#chat-dock
		#chat-wrapper
			#chat-output-wrapper
				#chat-output  
			#chat-input-wrapper
				#chat-input
					input#chat-input-connect( class='chat-input-button' type='button' value='disconnect' )  
					#chat-input-field-wrapper
						#chat-input-field-container
							textarea#chat-input-field
					input#chat-input-send( class='chat-input-button' type='button' value='send' )
