*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
body
	height: 100%
	width: 100%
	font-family: Helvetica
	font-size: 14pt
	margin: 0
	padding: 0
	background-color: #E6EAEE
	background: -webkit-linear-gradient( #E6EAEE, white ) /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #E6EAEE, white ) /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #E6EAEE, white ) /* For Firefox 3.6 to 15 */
	background: linear-gradient( #E6EAEE, white ) /* Standard syntax */

#chat-dock
	position: relative
	height: 41px
	border-bottom: solid 1px #999
	margin-bottom: 5px
	background-color: white

#chat-wrapper
	margin-left: 5px
	margin-right: 5px

#chat-output-wrapper
	position: relative
	background-color: white
#chat-output
	position: absolute
	padding: 5px
	width: 100% 
	height: 100%
	border: solid 1px #999 
	overflow: auto

.chat-message-server
	font-weight: bold
.chat-message-partner
	color: #FF4C00
.chat-message-self
	color: #0B5FA5
.chat-message-debug
	color: gray
	font-weight: bold

#chat-input-wrapper
	position: relative
	height: 130px
	margin-top: 5px
	margin-bottom: 5px
#chat-input
	position: absolute
	width: 100%
	height: 100%

#chat-input-field-wrapper
	position: relative
	text-align: right
	float: left
	height: 100%
	margin: 0
	background-color: #eeeeee
	border: 1px solid #999
#chat-input-field
	display: inline-block
	position: relative 
	padding: 5px
	width: 100%
	height: 130px
	border: 0px none
	font-family: helvetica
	font-size: 14pt
	background-color: transparent
	visibility: hidden
	resize: none
	outline: none

#chat-input-connect
	position: relative
	float: left
	font-weight: bold
	font-size: 12pt
	margin-right: 5px
	width: 13.5%
	height: 100%
	background: #FF4C00
	color: #FFFFFF
	border: none
	outline: none
#chat-input-send
	position: relative
	float: right
	font-weight: bold
	font-size: 12pt
	width: 13.5%
	height: 100%
	background: #999 
	color: #FFFFFF
	border: none
	outline: none

#mod-ratings { visibility: hidden }
#dock { visibility: hidden }
