* {
  font-family: Helvetica;
}
#convo {
  width: 100%;
  height: 100%;
}
#convo-options {
  display: table;
  width: 100%;
  border-bottom: 1px #999 solid;
}
#convo-content {
  overflow: auto;
  width: 100%;
  height: 50%;
  padding: 5px;
}
.convo-message {
  font-size: 14pt;
  text-align: left;
  margin-bottom: 2px;
}
.convo-red {
  color: #ff4c00;
}
.convo-blue {
  color: #0b5fa5;
}
.convo-topic {
  font-weight: bold;
}
#convo-stats {
  display: table;
  width: 100%;
  padding: 5px;
  border-top: 1px solid #999;
}
.convo-stat {
  width: 25%;
  display: table-cell;
}
#convo-stats-blue-name {
  text-align: left;
}
#convo-stats-red-name {
  text-align: right;
}
#convo-stats-blue-name a {
  text-decoration: none;
  color: #0b5fa5;
}
#convo-stats-red-name a {
  text-decoration: none;
  color: #ff4c00;
}
#convo-stats-blue-score {
  text-align: right;
  color: #0b5fa5;
}
#convo-stats-red-score {
  text-align: left;
  color: #ff4c00;
}
.convo-stat-name {
  font-weight: bold;
  font-size: 18pt;
}
.convo-stat-score {
  padding-right: 15px;
  padding-left: 15px;
}
.convo-stat-name span {
  cursor: pointer;
}
.convo-options-rating {
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  border: 5px #fff solid;
  cursor: pointer;
}
#convo-options-share {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
}
.convo-options-share-button {
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}
#convo-options-blue-rating {
  width: 95px;
  background-color: #0b5fa5;
  visibility: hidden;
}
#convo-options-red-rating {
  width: 95px;
  background-color: #ff4c00;
  visibility: hidden;
}
.convo-options-rating span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
}
.convo-fake-image {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
