#convo
	#convo-options
		#convo-options-blue-rating( class='convo-options-rating' class='convo-faded' )
			span give ∆
		#convo-options-share
			img#convo-options-share-twitter(   src='/assets/social/twitter.png'   class='convo-faded convo-options-share-button' )
			img#convo-options-share-facebook(  src='/assets/social/facebook.png'  class='convo-faded convo-options-share-button' )
			img#convo-options-share-tumblr(    src='/assets/social/tumblr.png'    class='convo-faded convo-options-share-button' )
			img#convo-options-share-email(     src='/assets/social/email.png'     class='convo-faded convo-options-share-button' )
			img#convo-options-share-pinterest( src='/assets/social/pinterest.png' class='convo-faded convo-options-share-button' )
			img#convo-options-share-gplus(     src='/assets/social/gplus2.png'    class='convo-faded convo-options-share-button' )
			img#convo-options-share-reddit(    src='/assets/social/reddit.png'    class='convo-faded convo-options-share-button' )
		#convo-options-red-rating( class='convo-options-rating' class='convo-faded' )
			span give ∆
	#convo-content
	#convo-stats
		#convo-stats-blue-name( class='convo-stat' class='convo-stat-name' )
			span( class='convo-faded' )
		#convo-stats-blue-score( class='convo-stat' class='convo-stat-score' )
			span
		#convo-stats-red-score( class='convo-stat' class='convo-stat-score' )
			span
		#convo-stats-red-name( class='convo-stat' class='convo-stat-name' )
			span( class='convo-faded' )
