table#badgeView
	td#badgeView-icon
	td#badgeView-info
		p#badgeView-info-name
		p#badgeView-info-date
		p#badgeView-info-desc
		p#badgeView-info-custom

script( src='/client/profile/badges/badgeView/badgeView.js' )

