.userListElm {
  margin: 15px;
}
.userListElm-username {
  float: left;
  width: 85%;
  height: 100%;
  font-size: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  color: #0b5fa5;
  font-weight: bold;
  cursor: pointer;
}
.userListElm-stats {
  display: table;
  float: right;
  width: 15%;
  font-size: 25px;
  overflow: hidden;
  text-align: center;
}
.userListElm-stats-deltas {
  display: table-cell;
  text-align: center;
  color: #0b5fa5;
}
.userListElm-stats-badges {
  display: table-cell;
  text-align: center;
  color: #0b5fa5;
}
