a.mail_ls
	.mail_ls-name( class='mail_ls-faded' )
		.mail_ls-name-text( class='mail_ls-text' )
	.mail_ls-preview
		.mail_ls-preview-text( class='mail_ls-text' )
	.mail_ls-msgs
		.mail_ls-msgs-text( class='mail_ls-text' )

