a.mailListElm
	.mailListElm-name( class='mailListElm-faded' )
		.mailListElm-name-text( class='mailListElm-text' )
	.mailListElm-preview
		.mailListElm-preview-text( class='mailListElm-text' )
	.mailListElm-newMesseges
		.mailListElm-msgs-text( class='mailListElm-text' )

