#badges
	#badges-viewer
	#badges-options
		#badges-options-sort sort by: 
			select#badges-options-sort-select
				option newest
				option rarest
				option difficulty
	#badges-list

script( src='/client/scoreboard/badges/badges.js' )

