table#delta-convos
	tr#delta-options-row
		td#delta-options-left( class='delta-panel' class='delta-left' )
		td#delta-options-center( class='delta-panel' class='delta-center' )
		td#delta-options-right( class='delta-panel' class='delta-right' ) sort by: 
			select#delta-options-sort
				option newest
				option most deltas
				option most personal deltas
	tr#delta-convos-row-1
		td#delta-convo-1( class='delta-convo' )
		td#delta-convo-2( class='delta-convo' )
		td#delta-convo-3( class='delta-convo' )
	tr#delta-convos-row-2
		td#delta-convo-4( class='delta-convo' )
		td#delta-convo-5( class='delta-convo' )
		td#delta-convo-6( class='delta-convo' )
	tr#delta-page-row
		td#delta-page-left( class='delta-panel' class='delta-left' ) << previous
		td#delta-page-center( class='delta-panel' class='delta-center' ) page 1
		td#delta-page-right( class='delta-panel' class='delta-right' ) forward >>

link( rel='stylesheet' type='text/css' href='/client/profile/delta/delta.css' )
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
script( src='/client/profile/delta/delta.js' )
