#delta-convos
	height: 100%
	width: 100%
	border-spacing: 10px
.delta-convo
	padding: 3px
	width: 33.33333%
	text-align: left
	font-size: 0.7em
	border-spacing: 10px

.delta-panel
	padding-left: 6px
	padding-right: 6px
	height: 20px
	font-size: 11pt
	text-align: left
	vertical-align: middle

#delta-options-right
	padding-right: 1px

#delta-options-sort
	margin-top: 5px
	border: 1px solid #E8E8E8

.delta-left
	text-align: left
.delta-center
	text-align: center
.delta-right
	text-align: right

#delta-page-left
	color: #0B5FA5
	font-weight: bold
#delta-page-right
	color: #0B5FA5
	font-weight: bold
