#convos
	#convos-options
		#convos-options-sort sort by: 
			select#convos-options-sort-select
				option( value='new' ) newest
				option( value='most deltas' ) most deltas
				option( value='length' ) longest
	#convos-content

script( src='/client/profile/convos/convos.js' )
script( src='/client/profile/convos/convoListElm/convoListElm.js' )
