#badgeView
	height: 100%
	width: 100%
	color: white

#badgeView-icon
	width: 160px
	height: 100%
	text-align: center
	vertical-align: middle
	font-size: 120pt

#badgeView-info
	padding-left: 20px
	height: 100%
	text-align: left
	vertical-align: middle	
	background-color: white

#badgeView-info-name
	font-weight: bold

#badgeView-info-date
	margin-top: 2px
	font-size: 10pt

#badgeView-info-desc
	font-size: 14pt
	margin-top: 10px

#badgeView-info-custom
	font-size: 14pt
	margin-top: 2px
	font-weight: bold

