table#dock
	tr#dock-ow1
		td#dock-row1-col1
			img#dock-logo( src='/assets/logo/logo.png' )
		td#dock-row1-col2
			div#dock-stats 
				| 0 ∆ &nbsp; 0 ☆ &nbsp; 0 ✉
			div#dock-username
				| username

script( src='/client/modules/dock/dock.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
