table#dock
	tr#dock-row1
		td#dock-row1-col1
			a( href='/' )
				img#dock-logo( src='/assets/logo/logo.png' )
		td#dock-row1-col2
			div#dock-links
				a#dock-links-home( class='dock-link' class='dock-faded' href='/' )
					| home
				a#dock-links-score( class='dock-link' class='dock-faded' href='/stats' )
					| stats
				a#dock-links-faq( class='dock-link' class='dock-faded' href='/help' )
					| help
		td#dock-row1-col3
			div#dock-login
				a( href='#login' class='dock-faded' id='popup' ) login / registe
					span#dock-login-r r
div( style='display:none' )
	div( id='login' )

script( src='/client/modules/dock/dock_out.js' )
