table#dock
	tr#dock-row1
		td#dock-row1-col1
			a( href='/' )
				img#dock-logo( src='/assets/logo/logo.png' )
		td#dock-row1-col2
			div#dock-links
				a#dock-links-home( class='dock-link' class='dock-faded' href='/' )
					| home
				a#dock-links-score( class='dock-link' class='dock-faded' href='/stats' )
					| stats
				a#dock-links-faq( class='dock-link' class='dock-faded' href='/help' )
					| help			
		td#dock-row1-col3
			div#dock-stats
				a#dock-stats-deltas( href = '#' class='dock-faded' )
					| 0 ∆ &nbsp; 
				a#dock-stats-badges( href = '#' class='dock-faded' )
					| 0 ☆ &nbsp; 
				a#dock-stats-mail( href = '#' class='dock-faded' )
					| 0 ✉
			div#dock-username

script( src='/client/modules/dock/dock_in.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
