table#dock
	tr#dock-row1
		td#dock-row1-col1
			img#dock-logo( src='/assets/logo/logo.png' )
		td#dock-row1-col2
			div#dock-links
				a#dock-links-home( class='dock-link' class='dock-faded' href='#' )
					| home
				a#dock-links-blog( class='dock-link' class='dock-faded' href='http://435teamnoname.wordpress.com/' )
					| blog 
				a#dock-links-score( class='dock-link' class='dock-faded' href='#' )
					| users
				a#dock-links-score( class='dock-link' class='dock-faded' href='#' )
					| discussions
				a#dock-links-faq( class='dock-link' class='dock-faded' href='#' )
					| faq 
				a#dock-links-contact( class='dock-link' class='dock-faded' href='#' )
					| contact 
		td#dock-row1-col3
			div#dock-login
				a( href='/modules/login/' class='dock-faded' class='popup' ) login / registe
					span#dock-login-r r
script( src='/client/modules/dock/dock.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
