a {
  text-decoration: none;
}
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#splash-dock {
  position: relative;
  height: 40px;
  background-color: #fff;
}
#splash {
  background: -webkit-linear-gradient(#e6eaee, #fff);
/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e6eaee, #fff);
/* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e6eaee, #fff);
/* For Firefox 3.6 to 15 */
  background: linear-gradient(#e6eaee, #fff);
/* Standard syntax */
}
#splash-content {
  text-align: center;
  border-top: solid 1px #999;
  width: auto;
  padding: 5px;
  font-size: 1.5em;
}
#splash-viewer {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #999;
}
#splash-vertcent {
  display: table-cell;
  vertical-align: middle;
}
#splash-logo {
  max-width: 70%;
}
#splash-options {
  display: table;
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #fff;
}
#splash-options-tabs {
  display: table;
  height: 50px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
#splash-options-tabs-random {
  display: table-cell;
  width: 33.33%;
  vertical-align: middle;
  background: #0b5fa5;
  color: #fff;
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
  -o-user-select: none;
  user-select: none;
}
#splash-options-tabs-tags {
  display: table-cell;
  width: 33.33%;
  vertical-align: middle;
  background: #0b5fa5;
  color: #fff;
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
  -o-user-select: none;
  user-select: none;
}
#splash-options-tabs-custom {
  display: table-cell;
  width: 33.33%;
  vertical-align: middle;
  background: #0b5fa5;
  color: #fff;
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
  -o-user-select: none;
  user-select: none;
}
#splash-options-actions {
  height: 60px;
  width: 100%;
}
#splash-dock {
  visibility: hidden;
}
