doctype html
html( lang='en' )
	head
		title= 'Bad Login'
		link( rel='stylesheet' type='text/css' href='/client/modules/reset/reset.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/newpage/newpage.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/popup/popup.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/login/login.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/login/badlog.css' )
		link( rel='stylesheet' type='text/css' href='/client/modules/dock/dock.css' )
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
		script( src='/client/modules/popup/popup.js' )
		script( src='/client/modules/login/badlog.js' )
	body
		div#dock
		div#badlog
			div#badlog-left
				div.badlog-header get a new account
				form#badlog-reg( method='post' action='/register' )
					div.badlog-subhead username
					div
						input#badlog-reg-input-username.badlog-input( type='text' name='username' )
					div.badlog-subhead account recovery email (optional)
					div
						input#badlog-reg-input-username.badlog-input( type='text' name='username' )
					div.badlog-subhead password
					div
						input#badlog-reg-input-password.badlog-input( type='password' name='password' )
					div.badlog-subhead verify password
					div
						input#badlog-reg-input-verify.badlog-input( type='password' name='verify' )
					div.badlog-submit-wrap
						button.badlog-submit( type='submit' ) register
			div#badlog-right
				div.badlog-header use an existing account
				form#badlog-log( method='post' action='/login' )
					div.badlog-subhead username
					div
						input#badlog-log-input-username.badlog-input( type='text' name='username' )
					div.badlog-subhead password
					div
						input#badlog-log-input-password.badlog-input( type='password' name='password' )
					div#badlog-aux-remember
						label.badlog-aux remember me
						input.badlog-aux( type='checkbox' name='remember' )
					div#badlog-aux-recover
						a.badlog-aux recover password
					div.badlog-submit-wrap
						button.badlog-submit( type='submit' ) login
