head
	link( rel='stylesheet' type='text/css' href='/tpl/modules/ratings.css' )
body
	#buttons( style='text-align:center' )
		img#delta( class='ratingButton' src='assets/delta_small.png' )
		img#same( class='ratingButton' src='assets/same_small.png' )
		img#flag( class='ratingButton' src='assets/flag_small.png' )
