#badges
	height: 100%
	width: 100%

#badges-viewer
	height: 0%
	border-bottom: 0px #999 solid
	overflow: hidden

#badges-options
	width: 100%
	height: 33px
	border-bottom: 1px #999 solid
#badges-options-sort
	text-align: right
	font-size: 14px
	margin: 5px
	margin-bottom: 0px

#badges-list
	height: 50%
	width: 100%
	overflow: auto

.badges-badge
	width: 64px
	height: 64px
	line-height: 64px
	margin: 15px
	font-size: 35pt
	color: white
	cursor: pointer
	vertical-align: middle

.badges-easy
	background-image: url( '/assets/badges/easy.png' )
.badges-medium
	background-image: url( '/assets/badges/medium.png' )
.badges-hard
	background-image: url( '/assets/badges/hard.png' )
.badges-secret
	background-image: url( '/assets/badges/secret.png' )
