#badges
	#badges-viewer
	#badges-options
		#badges-options-sort sort by: 
			select#badges-options-sort-select
				option newest
				option most deltas
				option most personal deltas
	#badges-list

script( src='/client/modules/isotope/isotope.js' )
