.convoListElm
	.convoListElm-topic( class='convoListElm-faded' )
	.convoListElm-deltas
		.convoListElm-deltas-blue 0 ∆
		.convoListElm-deltas-red 0 ∆

script( src='/client/profile/convos/convoListElm/convoListElm.js' )
