#convo
	#convo-options
		#convo-options-blue-rating( class='convo-options-rating' class='convo-faded' )
			span give ∆
		#convo-options-red-rating( class='convo-options-rating' class='convo-faded' )
			span give ∆
	#convo-content
	#convo-stats
		#convo-stats-blue-name( class='convo-stat' class='convo-stat-name' )
			span( class='convo-faded' )
		#convo-stats-blue-score( class='convo-stat' class='convo-stat-score' )
			span
		#convo-stats-red-score( class='convo-stat' class='convo-stat-score' )
			span
		#convo-stats-red-name( class='convo-stat' class='convo-stat-name' )
			span( class='convo-faded' )
script( src='/client/modules/convo/convo.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/convo/convo.css' )
