.login-subhead {
  margin-top: 25px;
  font-size: 11pt;
  font-weight: bold;
  color: #808080;
}
#login {
  display: table;
  margin: 0 auto;
  padding: 5px;
}
.login-left {
  display: table-cell;
  padding-right: 50px;
}
.login-right {
  display: table-cell;
  padding-left: 50px;
}
.login-submit-wrap {
  text-align: right;
}
.login-submit {
  margin-top: 15px;
  font-weight: bold;
  padding: 2px;
  width: 100px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  background: #0b5fa5;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.login-input {
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  padding-left: 2px;
  margin-top: 2px;
  width: 100%;
}
.login-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.login-aux {
  text-align: right;
  color: #0b5fa5;
  font-size: 10pt;
}
#login-aux-remember {
  text-align: right;
  margin: 0;
}
#login-aux-recover {
  text-align: right;
  margin: 0;
}
