*
	font-family: Helvetica
#convo
	table-layout: fixed
	text-overflow: ellipsis
	width: 100%
	height: 100%
	border: 1px #E8E8E8 solid

#convo-question-cell
	table-layout: fixed
	background-color: #0B5FA5
	border-bottom: 1px solid #E8E8E8
#convo-question-cell-text
	width: 100%
	font-size: 14pt
	padding: 5px
	text-overflow: ellipsis
	font-weight: bold
	white-space: nowrap
	border: none
	color: white
	background-color: transparent
	overflow: hidden
	resize: none

#convo-content-cell
	table-layout: fixed
	width: 100%
	height: 100%
#convo-content-cell textarea
	width: 100%
	height: 100%
	resize: none
	border: none
	margin: 0
	padding: 0
	background-color: transparent
#convo-stats
	table-layout: fixed
	width: 100%
	padding: 5px
#convo-stats td
	table-layout: fixed
	width: 100%
#convo-stats-table
	table-layout: fixed
	width: 100%
	border-top: 1px solid #E8E8E8
	padding-top: 5px

.convo-stat
	width: 33.3333%

#convo-stats-blue
	color: #0B5FA5
#convo-stats-red
	color: #FF4C00

.convo-stat-user
	text-align: left
	font-weight: bold
	font-size: 1.0em
.convo-stat-score
	text-align: center
	font-weight: bold
.convo-stat-rating
	text-align: right
	color: white
	font-size: 0.8em
	font-weight: bold
	height: 100%

#convo-stats-blue-rating-button
	background-color: #0B5FA5
	display: inline-block
	text-align: center
	padding: 3px
	width: 80px
	border: 1px #0B5FA5 solid
#convo-stats-red-rating-button
	background-color: #FF4C00
	display: inline-block
	text-align: center
	padding: 3px
	width: 80px
	border: 1px #FF4C00 solid
