#convo
	#convo-content
	#convo-stats
		#convo-stats-blue
			#convo-stats-blue-user( class='convo-stat' class='convo-stat-user' class='convo-faded' ) bluename
			#convo-stats-blue-score( class='convo-stat' class='convo-stat-score' class='convo-faded' ) 0 ∆
			#convo-stats-blue-rating( class='convo-stat' class='convo-stat-rating' )
				#convo-stats-blue-rating-button( class='convo-faded' ) give ∆ 
		#convo-stats-red
			#convo-stats-red-user( class='convo-stat' class='convo-stat-user' class='convo-faded' ) redname
			#convo-stats-red-score( class='convo-stat' class='convo-stat-score' class='convo-faded' ) 0 ∆
			#convo-stats-red-rating( class='convo-stat' class='convo-stat-rating' )
				#convo-stats-red-rating-button( class='convo-faded' ) give ∆

script( src='/client/modules/convo/convo.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/convo/convo.css' )
