* {
  font-family: Helvetica;
}
#convo {
  width: 100%;
  height: 100%;
}
#convo-content {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.convo-message {
  font-size: 14pt;
  text-align: left;
  margin-bottom: 2px;
}
.convo-red {
  color: #ff4c00;
}
.convo-blue {
  color: #0b5fa5;
}
.convo-topic {
  font-weight: bold;
}
#convo-stats {
  width: 100%;
  padding: 5px;
  border-top: 1px solid #999;
}
.convo-stat {
  display: table-cell;
  width: 50%;
}
#convo-stats-blue {
  color: #0b5fa5;
}
#convo-stats-red {
  color: #ff4c00;
}
.convo-stat-user {
  text-align: left;
  font-weight: bold;
  font-size: 18pt;
}
.convo-stat-score {
  text-align: right;
  font-weight: bold;
  font-size: 18pt;
  padding-right: 5px;
}
.convo-stat-rating {
  text-align: right;
  color: #fff;
  font-size: 16pt;
  font-weight: bold;
  height: 100%;
}
#convo-stats-blue-rating-button {
  background-color: #0b5fa5;
  display: inline-block;
  text-align: center;
  padding: 3px;
  width: 80px;
  border: 1px #0b5fa5 solid;
}
#convo-stats-red-rating-button {
  background-color: #ff4c00;
  display: inline-block;
  text-align: center;
  padding: 3px;
  width: 80px;
  border: 1px #ff4c00 solid;
}
