table#convo
	tr#convo-question( class='convo-faded' )
		td#convo-question-cell
			div#convo-question-cell-text this is a question this is a question this is a question this is a question this is a question this is a question 
	tr#convo-content
		td#convo-content-cell
			textarea( readonly ) sdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa dasdsadsgsd sa d sad sad sdwqd sa dsa da
	tr#comvo-stats
		td
			table#convo-stats-table
				tr#convo-stats-blue
					td#convo-stats-blue-user( class='convo-stat' class='convo-stat-user' class='convo-faded' ) bluename
					td#convo-stats-blue-score( class='convo-stat' class='convo-stat-score' class='convo-faded' ) 0 ∆
					td#convo-stats-blue-rating( class='convo-stat' class='convo-stat-rating' )
						p#convo-stats-blue-rating-button( class='convo-faded' ) give ∆ 
				tr#convo-stats-red
					td#convo-stats-red-user( class='convo-stat' class='convo-stat-user' class='convo-faded' ) redname
					td#convo-stats-red-score( class='convo-stat' class='convo-stat-score' class='convo-faded' ) 0 ∆
					td#convo-stats-red-rating( class='convo-stat' class='convo-stat-rating' )
						#convo-stats-red-rating-button( class='convo-faded' ) give ∆

script( src='/client/modules/convo/convo.js' )
link( rel='stylesheet' type='text/css' href='/client/modules/convo/convo.css' )
