* {
  font-family: Helvetica;
}
#mailConvo {
  width: 100%;
  height: 100%;
}
#mailConvo-name {
  width: 100%;
  height: 38px;
  border-bottom: 1px #999 solid;
  text-align: right;
  padding: 4px;
}
#mailConvo-name a {
  color: #ff4c00;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.6;
}
#mailConvo-name a:hover {
  opacity: 1;
}
#mailConvo-content {
  overflow: auto;
  width: 100%;
  height: 50%;
  padding: 5px;
}
.mailConvo-message {
  font-size: 14pt;
  text-align: left;
  margin-bottom: 2px;
}
.mailConvo-red {
  color: #ff4c00;
}
.mailConvo-blue {
  color: #0b5fa5;
}
#mailConvo-input {
  width: 100%;
  height: 20%;
  padding: 5px;
}
#mailConvo-field-wrapper {
  position: relative;
  text-align: right;
  float: left;
  height: 100%;
  width: 88%;
  border: 1px solid #999;
}
#mailConvo-field {
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 100%;
  height: 130px;
  border: 0px none;
  font-family: helvetica;
  font-size: 14pt;
  background-color: transparent;
  resize: none;
  outline: none;
}
#mailConvo-input-send {
  position: relative;
  float: right;
  font-weight: bold;
  font-size: 12pt;
  width: 12%;
  height: 100%;
  background: #0b5fa5;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: center;
  display: inline-block;
}
