#convols
	#convols-topic( class='convols-faded' ) this is a test for a potential discussion topic this is a test for a potential discussion topic this is a test for a potential discussion topic this is a test for a potential discussion topic this is a test for a potential discussion topic
	#convols-deltas
		#convols-deltas-blue 0 ∆
		#convols-deltas-red 0 ∆

link( rel='stylesheet' type='text/css' href='/client/modules/convols/convols.css' )
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
script( src='/client/modules/convols/convols.js' )
