.convols
	margin: 15px	
.convols-topic
	float: left
	width: 85%
	height: 100%
	font-size: 23px
	text-overflow: ellipsis
	white-space: nowrap
	display: block
	overflow: hidden
	color: #0b5fa5
	font-weight: bold
	cursor: pointer

.convols-deltas
	display: table
	float: right
	width: 15%
	font-size: 25px
	overflow: hidden
	text-align: center
.convols-deltas-blue
	display: table-cell
	text-align: center
	color: #0b5fa5
.convols-deltas-red
	display: table-cell
	text-align: center
	color: #FF4C00
