.convols
	.convols-topic( class='convols-faded' )
	.convols-deltas
		.convols-deltas-blue 0 ∆
		.convols-deltas-red 0 ∆

link( rel='stylesheet' type='text/css' href='/client/modules/convols/convols.css' )
script( src='/client/modules/convols/convols.js' )
