doctype html
html( lang='en' )
	head
		title= 'Chat Test'
		link( rel='stylesheet' type='text/css' href='/tpl/chat.css' )
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
		script( src='/client/chat.js' )
		script( src='/socket.io/socket.io.js' )
	body
		#chat-output-wrapper
			#chat-output  
		#chat-input-wrapper
			#chat-input
				input#chat-input-connect( type='button' value='disconnect' )  
				#chat-input-field-wrapper
					textarea#chat-input-field
				input#chat-input-send( type='button' value='send' )
